body{
    background-color: #3498db;
    margin:0px;
}

#wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh 10vh 65vh 10vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'as mn mn mn'
    'ft ft ft ft';
}

header{
    display: flex;
    grid-area: hd;
    border-color: #3498db;
    border-bottom-style: solid;
    background-color: #05141e;
    justify-content: space-around;
    align-items: center;
}

nav{
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    background-color: #081f2f;
}

aside{
    grid-area: as;

    background-color: #ebf5fc;
}

main{
    grid-area: mn;

    background-color: #ebf5fc;
}

footer{
    grid-area: ft;

    background-color: #05141e;
}

nav a{
    color: white;
    flex:1;
    justify-content: center;
    display:flex;
    align-items: center;
    border-color: #05141e;
    border-left: solid 2px;
    border-right: solid 2px;
    text-decoration: none;
}

nav a:visited{
    border-color: #05141e;
    color: white;
}

nav a:hover{
    background-color: #05141e;
}

.logo {
    height: 150px;
    width: 150px;
}