body{
    margin:0px;
}

#wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh 10vh 68vh 7vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'as mn mn mn'
    'ft ft ft ft';
}

#wrapper_cards{
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh 10vh 68vh 7vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn2 mn2 mn2 mn2'
    'ft ft ft ft';
}

header{
    display: flex;
    grid-area: hd;
    border-color: #3498db;
    border-bottom-style: solid;
    background-color: #05141e;
    justify-content: space-around;
    align-items: center;
}


.name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebf5fc;
    font-family: 'Noto Serif';
}

nav{
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    background-color: #081f2f;
}

nav a{
    color: #ebf5fc;
    flex:1;
    justify-content: center;
    display:flex;
    align-items: center;
    border-color: #0b2a40;
    border-left: solid 2px;
    border-right: solid 2px;
    text-decoration: none;
    font-family: 'Noto Serif';
}

nav a:visited{
    border-color: #0b2a40;
    color: #ebf5fc;
}

nav a:hover{
    background-color: #05141e;
}

aside{
    grid-area: as;
    background-color: #081f2f;
    border-top: 10px #ebf5fc solid;
    border-bottom: 10px #ebf5fc solid;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif';
}

aside a{
    color: #ebf5fc;
    flex:1;
    justify-content: center;
    display:flex;
    align-items: center;
    border: 1px #0b2a40 solid;
    text-decoration: none;
}

aside a:hover{
    background-color: #05141e;
}

main{
    grid-area: mn;
    background-color: #ebf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

main#main2{
    grid-area: mn2;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    grid-area: ft;
    background-color: #05141e;
    color: #ebf5fc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Noto Serif';
    font-size: small;
}

.logo{
    height: 150px;
    width: 150px;
}

.computer{
    height: auto;
    width: 600px;
}

.arrow{
    height: auto;
    width: 60px;
}

.icon{
    height: 30px;
    width: auto;
}

.top{
    color: #ebf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    padding: 10px;
    font-family: 'Noto Serif';
}

.top a{
    text-decoration: none;
    color: #ebf5fc;
}

.card{
    background-color: #081f2f;
    color: #ebf5fc;
    padding: 10px;
}

.cart{
    float: right;
    height: auto;
    width: 25px;
}

.preview{
    height: 200px;
    width: auto;
}